body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
}

#app {
	width: calc(100vw - 8px);
	height: calc(100vh - 8px);
	align-content: center;
	justify-content: center;
	display: flex;
}

.canvas {
	background-color: white;
}